{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    # "prefer-object-spread"
  ],
  "globals": {
    "fetch": false
  },
  "rules": {
    #禁止调用 console 对象的方法
    "no-console": 0,
    #当使用一个还未声明的标示符是会报警告。
    "no-use-before-define": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
}
